<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Lista</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item [routerLink]="['']">
      <ion-label>star wars</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tlotlr']">
      <ion-label>El señor de los anilos</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>Harry potter</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Star wars I</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-card>
      <ion-card-content >
        <iframe src="https://drive.google.com/file/d/1T6A0bkJNpykPV-L-DWHW95CHFikgHxsa/preview" width="100%" height="auto" controls="true"></iframe>
      </ion-card-content>

    </ion-card>

    <ion-card *ngFor="let peliculas of peliculas">
      <ion-card-header>
        <ion-card-title>{{peliculas.nombre}}</ion-card-title>
      </ion-card-header>
    <ion-card-content>
      {{peliculas.sinopsis}}
    </ion-card-content>
    </ion-card>
    <ion-content>
      <ion-button color="light" size="small">volver</ion-button>

      <ion-button color="light" size="small" padding="end">siguiente</ion-button>
    </ion-content>
  </ion-content>
</div>

