<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-card [routerLink]="['/coleccion']">
        <ion-card-content >
          <img src="https://imagenes.20minutos.es/files/image_990_v3/uploads/imagenes/2020/04/28/cine-peliculas-estreno-plataformas-streaming-00.png" alt="">
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <button [routerLink]="['#']">aqui</button>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>
