<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Lista</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item [routerLink]="['']">
      <ion-label>menu</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Harry potter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card *ngFor="let fases of fases">
      <a [routerLink]="[fases.link]" ><img [src]="fases.imagenfase" /></a>
      <ion-card-header>
        <ion-card-title>{{fases.fase}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{fases.sinopsisfase}}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
